h1 {
    color:purple;
}

img {
    width: 400px;
}

#thirdDIV{
    height: 600px;
    width: 500px;
    background-color: lightcoral;
    padding: 50px;
    border: 10px purple dotted;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}